* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    background: #a7d1d3;
    font-family: 'Rubik', sans-serif;
  }
  
  .login-form {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 2px 25px #0003;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    float: right;
    margin: 4rem 3rem 0 0;
    position: fixed;
    right: 0;
  }
  .login-form h1 {
    padding: 20px 35px 0 35px;
    font-weight: 300;
  }
  .login-form .content {
    padding: 35px;
    text-align: center;
  }
  .login-form .input-field {
    padding: 12px 5px;
  }
  .login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:focus {
    border-color: #222;
  }
  .login-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
  }
  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .login-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .login-form .action button:hover {
    background: #d8d8d8;
  }
  .login-form .action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  .login-form .action button:nth-child(2):hover {
    background: #3c4d6d;
  }
  .loader-login{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.login-section{
  margin: 40px auto;
  box-shadow: 0 2px 25px #0003;
}
.login-img{
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
.logo-login{
  text-align: center;
  margin: 40px auto 0;
}
.overlay::before {
  content: '';
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}




    /* animation code */


    
    #pen-as-header-question {
      display: none;
    }
    
    #profile-image {
      display: none;
    }
    
    #profile-name-header,
    #profile-username {
      display: inline-block;
      color: white;
      text-shadow: dimgray 0px 0px 5px;
    }
    
    #profile-header {
      background-color: black;
      background-image: none;
    
      position: relative;
    }
    
    #profile-header::before {
      content: "";
    
      position: absolute;
    
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    
      background-size: cover;
      background-image: url("https://allcargo-public.s3.ap-south-1.amazonaws.com/telematics/sh1.jpg");
      background-position: 0 15%;
    
      animation: animate-tint 5s linear infinite;
    }
    
    #profile-header::after {
      content: "";
    
      position: absolute;
    
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    
      background-image: url("https://images.unsplash.com/photo-1718051004078-cdd935ab8ad6?q=100&w=380&auto=format");
    
      animation: animate-rain 2s linear infinite reverse;
    
      mix-blend-mode: exclusion;
      opacity: 0.25;
      transform: rotate(180deg);
      filter: blur(1px);
    }
    
    @keyframes animate-rain {
      from {
        background-position: 0px 0px;
      }
      to {
        background-position: -80px 500px;
      }
    }
    
    @keyframes animate-tint {
      0%,
      100% {
        filter: hue-rotate(0deg) blur(0.8px);
      }
      50% {
        filter: hue-rotate(34deg) blur(1.5px);
      }
    }
    