// Primary Colors
$ecu-yellow : #FFDD00;
$ecu-blue : #024DA1;
$ecu-red : #ED1C24;
$ecu-black : #000000;
$ecu-white   : #FFFFFF;
$ecu-green : #27AE60;

//Secondary Colors
$edi-blue : #0C49A0;
$blue-secondary : #205198;
$blue-background : #034EA2;

// Gray Scale

$red-background : #BC002D;
$green-background : #27AE60;
$edi-gray : #DADADA;
$light-gray : #034EA20A;
$light-blue : #F5F8FB;
$light-border : #F6F8FC;
$light-divider : #D5D5D5;