.logo {
  background: #1a2a7b;
  height: 6rem;
  width: stretch;
  padding: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sidebar .close-icon {
  position: absolute;
  right: -3px;
  color: #ffffff;
}

.top-bar {
  margin-left: 0.75rem;
}

.user-block {
  display: inline-block !important;
}

.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}

.openSidebar {
  overflow-x: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills without distortion */
  display: block;
  min-width: min-content;
  border-radius: 10px;
}
