<div class="main-header shared_header">
  <div class="sidebar" [ngClass]="{ openSidebar: !sidebarOpen }">
    <!-- <mat-icon class="close-icon cursor"(click)="openNav()">backspace</mat-icon> -->

    <div class="sidenav-item">
      <div class="logo-container">
        <div class="logo">
          <img src="/assets/images/shikshamitra-logo.PNG" alt="" />
        </div>
      </div>
      <div class="menulist">
        <ul style="margin: 0px">
          <li *ngFor="let item of navItems; let i = index">
            <div>
              <div
                style="place-items: center"
                *ngIf="item.hasChild && item.children.length > 0"
              >
                <div
                  color="primary"
                  [ngClass]="{
                    'selected-btn':
                      item.openCardFlag && this.subMenuSelected(i),
                    'unSelected-btn':
                      !item.openCardFlag ||
                      (item.openCardFlag && !this.subMenuSelected(i)),
                  }"
                  style="cursor: pointer"
                >
                  <div
                    style="
                      display: flex;
                      align-items: center;
                      margin-left: 1vw;
                      margin-right: 1vw;
                    "
                    (click)="openCard($event, i)"
                  >
                    <img
                      style="height: 25px; width: 25px"
                      [src]="'../assets/images/icon/' + item.icon + '.png'"
                      alt="{{ item.icon }}"
                    />
                    <span style="margin-left: 0.75rem">
                      {{ item.label }}
                    </span>
                  </div>
                  <mat-icon class="right-icon" (click)="openCard($event, i)">{{
                    item.openCardFlag ? "expand_less" : "expand_more"
                  }}</mat-icon>
                </div>
                <app-child-item
                  #menu
                  [items]="item.children"
                  [lang]="lang"
                  [btnSelected]="btnSelected"
                  [ngClass]="{
                    displayBlock: item.openCardFlag,
                    displayNone: !item.openCardFlag,
                  }"
                  (selectedBtn)="handleSelectedBtn($event)"
                ></app-child-item>
              </div>
              <div *ngIf="!item.hasChild" style="place-items: center">
                <div
                  [ngClass]="{
                    'selected-btn': item.openCardFlag,
                    'unSelected-btn': !item.openCardFlag,
                  }"
                  style="cursor: pointer"
                  (click)="openCard($event, i)"
                >
                  <div
                    style="
                      display: flex;
                      align-items: center;
                      margin-left: 1vw;
                      margin-right: 1vw;
                    "
                  >
                    <img
                      style="height: 25px; width: 25px"
                      [src]="'../assets/images/icon/' + item.icon + '.png'"
                      alt="{{ item.icon }}"
                    />
                    <span style="margin-left: 0.75rem">
                      {{ item.label }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-content mr-3">
    <nav class="navbar navbar-expand-lg navbar-light header-nav">
      <div class="menu-toggle openbtn" (click)="openNav()"></div>

      <div
        class="collapse navbar-collapse user-block"
        id="navbarSupportedContent"
      >
        <form class="form-inline my-2 my-lg-0">
          <div class="profile">
            <div class="user">
              <h6>Test User</h6>
              <p>400391</p>
            </div>
            <div class="img-box">
              <mat-icon>account_circle</mat-icon>
            </div>
          </div>
          <div class="menu">
            <ul>
              <li>
                <a type="button" (click)="logout()"
                  ><i class="ph-bold ph-sign-out"></i>&nbsp;Sign Out</a
                >
              </li>
            </ul>
          </div>
        </form>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
